<a href="https://colab.research.google.com/github/aycapolt/pyqt-folium-example/blob/main/P1works_questionnaire.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("country_vaccination_stats.csv")
q1 = df

In [ ]:
q1.head(5)

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [ ]:
q1['country'].unique()

array(['Argentina', 'Austria', 'Bahrain', 'Belgium', 'Brazil', 'Bulgaria',
       'Canada', 'Chile', 'China', 'Costa Rica', 'Croatia', 'Cyprus',
       'Czechia', 'Denmark', 'Ecuador', 'England', 'Estonia', 'Finland',
       'France', 'Germany', 'Gibraltar', 'Greece', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Ireland', 'Isle of Man', 'Israel', 'Italy',
       'Kuwait', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Mexico',
       'Netherlands', 'Northern Ireland', 'Norway', 'Oman', 'Panama',
       'Poland', 'Portugal', 'Romania', 'Russia', 'Saudi Arabia',
       'Scotland', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
       'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United Arab Emirates', 'United Kingdom', 'United States', 'Wales'],
      dtype=object)

In [ ]:
q1.isnull().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

## QUESTION 4

In [ ]:
min_vacc = q1.groupby('country')['daily_vaccinations'].transform('min')

In [ ]:
#Kuwait does not have a valid vaccinations number, so it will be filled with 0s
min_vacc

0       6483.0
1       6483.0
2       6483.0
3       6483.0
4       6483.0
         ...
1497    1763.0
1498    1763.0
1499    1763.0
1500    1763.0
1501    1763.0
Name: daily_vaccinations, Length: 1502, dtype: float64

In [ ]:
# i used lambda but a seperate function could be written and also the apply method would be used
q1['daily_vaccinations'] = q1.apply(
    lambda row: 0 if pd.isna(row['daily_vaccinations']) and pd.isna(min_vacc[row.name])
    else (min_vacc[row.name] if pd.isna(row['daily_vaccinations']) else row['daily_vaccinations']),axis=1
)

In [ ]:
#to see if the lambda function works
q1['daily_vaccinations'].where(q1['country'] == 'Kuwait', 0)

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
1497    0.0
1498    0.0
1499    0.0
1500    0.0
1501    0.0
Name: daily_vaccinations, Length: 1502, dtype: float64

In [ ]:
q1

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,6483.0,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

## QUESTION 5

### the question is same as the question 4, so i skip this part

## QUESTION 6

In [ ]:
q2 = df

In [ ]:
median = q2.groupby('country')['daily_vaccinations'].median()

In [ ]:
median3 = median.sort_values(ascending=False).head(3)

In [ ]:
#top 3 countries with highest medians are listed below
median3

country
United States    399093.0
China            299107.5
India            182551.5
Name: daily_vaccinations, dtype: float64

## QUESTION 7

In [ ]:
q3 = df

In [ ]:
q3['daily_vaccinations'].where(q3['date'] == '1/6/2021').sum()

1466568.0